*{ margin: 0; padding: 0; font-family: arial;}


#logo{height: 50px;}
header{   background-color: rgb(56, 116, 154); display: flex; flex-direction: row;justify-content: space-between; align-items: center; padding: 16px; box-sizing: border-box; height:72px;}
ul{display: flex; flex-direction: row; align-items: center; gap: 20px; list-style-type: none;}
.img2{ height: 30px;}
li a{ color:white; }
input{ padding:8px; border:none; width:100%;}
#container{ display: flex; flex-direction: row; align-items: center; background-color: white; padding-left: 16px; padding-right: 16px; width:30%; border-radius: 10px;}
#container img { width:20px; height: 20px; opacity:70%;}

